<h1>Bonjour! Veuillez bien confirmer votre Email</h1>

<p>
   Confirmez votre email en cliquant sur ce lien<br><br>
    <a href="{{ signedUrl }}">je confirme mon Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

