{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}

{% block body %}

	<div class="container">
		<div class="col-md-4">
			<div class="card mb-3"></div>
			<h5 class="card-header">2 chambres à 65000FCFA</h5>

			<svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveaspectratio="xMidYMid slice" viewbox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
				<rect width="100%" height="100%" fill="#868e96"></rect>
				<text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
			</svg>
			<div class="card-body">
				<p class="card-text">Une chambre très confortable avec salle de bian et bien meublée. Vous pouvez à tout moment venir visiter</p>
			</div>
			<div class="card-body">
				<a href="#" class="card-link btn btn-primary">Détails...</a>
			</div>
			<div class="card-footer text-muted text-center">
				Il y'a 2 jours
				<i class="fas fa-map-marker"></i>
				<strong>Medina, Rue 25x36</strong>
			</div>
		</div>
	{% endblock %}
