{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row">
			{% for anounce in anounce %}

				<div class="col-md-4">
					<div class="card mb-3"></div>
					<h5 class="card-header">{{anounce.title}}</h5>

					<img src="{{anounce.coverImage}}" alt="">
					<div class="card-body">
						<p class="card-text">{{anounce.description}}</p>
					</div>

					<div class="card-body">
						<a href="#" class="card-link btn btn-primary">Détails...</a>
					</div>
					<div class="card-footer text-muted text-center">
						Il y'a 2 jours
						<i class="fas fa-map-marker"> {{anounce.address}} </i>
						<strong></strong>
					</div>


				</div>
			{% endfor %}
		</div>

	</div>


{% endblock %}
